html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header {
  height: 10%;
  padding-left: 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 2px solid white;
}

arcgis-map {
  height: 90%;
}
